/*
 * Eyelash Corne - keymap da Renee
 * Macros e tap dances recuperadas do firmware antigo (corne_left-nice_nano-zmk.uf2)
 * e adaptadas para o layout do Eyelash Corne.
 *
 * Os acentos usam teclas mortas: o sistema operacional precisa estar no layout
 * "Inglês (EUA) - Internacional" (US International), como no teclado antigo.
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <behaviors/runtime-sensor-rotate.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&soft_off { hold-time-ms = <2000>; };

#define ACENTO(label, nome, k1, k2)                     \
    label: label {                                      \
        compatible = "zmk,behavior-macro";              \
        display-name = nome;                            \
        #binding-cells = <0>;                           \
        wait-ms = <15>;                                 \
        tap-ms = <30>;                                  \
        bindings = <&macro_tap &kp k1 &kp k2>;          \
    };

#define TD(label, nome, ...)                            \
    label: label {                                      \
        compatible = "zmk,behavior-tap-dance";          \
        display-name = nome;                            \
        #binding-cells = <0>;                           \
        tapping-term-ms = <250>;                        \
        bindings = __VA_ARGS__;                         \
    };

/ {
    macros {
        // Tecla morta + letra (US International)
        ACENTO(m_cedilha,    "ç", SQT,        C)
        ACENTO(m_aagudo,     "á", SQT,        A)
        ACENTO(m_eagudo,     "é", SQT,        E)
        ACENTO(m_iagudo,     "í", SQT,        I)
        ACENTO(m_oagudo,     "ó", SQT,        O)
        ACENTO(m_uagudo,     "ú", SQT,        U)
        ACENTO(m_acrase,     "à", GRAVE,      A)
        ACENTO(m_atil,       "ã", LS(GRAVE),  A)
        ACENTO(m_otil,       "õ", LS(GRAVE),  O)
        ACENTO(m_ntil,       "ñ", LS(GRAVE),  N)
        ACENTO(m_acirc,      "â", LS(N6),     A)
        ACENTO(m_ecirc,      "ê", LS(N6),     E)
        ACENTO(m_ocirc,      "ô", LS(N6),     O)
    };

    behaviors {
        // Letras: 1 toque = letra, 2/3/4 toques = acentos
        TD(td_a,     "a á ã à", <&kp A>, <&m_aagudo>, <&m_atil>, <&m_acrase>)
        TD(td_e,     "e é ê",   <&kp E>, <&m_eagudo>, <&m_ecirc>)
        TD(td_i,     "i í",     <&kp I>, <&m_iagudo>)
        TD(td_o,     "o ó õ ô", <&kp O>, <&m_oagudo>, <&m_otil>, <&m_ocirc>)
        TD(td_u,     "u ú",     <&kp U>, <&m_uagudo>)
        TD(td_c,     "c ç",     <&kp C>, <&m_cedilha>)
        TD(td_n,     "n ñ",     <&kp N>, <&m_ntil>)

        // Pontuação e símbolos: 1 toque | 2 toques | 3 toques
        TD(td_pvirg,  "; '",     <&kp SEMI>, <&kp SQT>)
        TD(td_virg,   ", .",     <&kp COMMA>, <&kp DOT>)
        TD(td_barra,  "/ \\ |",  <&kp FSLH>, <&kp BSLH>, <&kp PIPE>)
        TD(td_arroba, "@ _",     <&kp AT>, <&kp UNDER>)
        TD(td_interr, "? !",     <&kp QMARK>, <&kp EXCL>)
        TD(td_paren,  "( )",     <&kp LPAR>, <&kp RPAR>)
        TD(td_colch,  "[ ]",     <&kp LBKT>, <&kp RBKT>)
        TD(td_chave,  "{ }",     <&kp LBRC>, <&kp RBRC>)
        TD(td_menor,  "< >",     <&kp LT>, <&kp GT>)
        TD(td_mult,   "* /",     <&kp ASTRK>, <&kp FSLH>)
        TD(td_soma,   "+ -",     <&kp PLUS>, <&kp MINUS>)
        TD(td_agudo,  "´ `",     <&kp SQT>, <&kp GRAVE>)
        TD(td_til,    "~ ^",     <&kp TILDE>, <&kp CARET>)

        // Bluetooth: 1 toque = perfil 0/2, 2 toques = perfil 1/3
        TD(td_blue1,  "BT 0/1",  <&bt BT_SEL 0>, <&bt BT_SEL 1>)
        TD(td_blue2,  "BT 2/3",  <&bt BT_SEL 2>, <&bt BT_SEL 3>)

        // Troca de camada (fixa): toques 1,2 = camada; 5 toques = camada 4 (sistema)
        TD(td_lay1,   "Camada 0/1", <&to 0>, <&to 1>, <&none>, <&none>, <&to 4>)
        TD(td_lay2,   "Camada 2/3", <&to 2>, <&to 3>, <&none>, <&none>, <&to 4>)

        rsr_vol: rsr_vol {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <5>;
            cw-binding = <&kp C_VOL_UP>;
            ccw-binding = <&kp C_VOL_DN>;
        };

        rsr_trans: rsr_trans {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <0>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Segurar Q + S + Z por 2 s desliga o teclado (padrão do fabricante)
        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Teclas do meio: joystick (cima/esquerda/enter/direita/baixo) e clique do encoder
        layer_0 {
            display-name = "Base";
            bindings = <
&kp ESC    &kp Q   &kp W  &td_e  &kp R     &kp T                          &kp UP                 &kp Y      &td_u     &td_i       &td_o      &kp P       &kp BSPC
&kp TAB    &td_a   &kp S  &kp D  &kp F     &kp G                &kp LEFT  &kp ENTER  &kp RIGHT   &kp H      &kp J     &kp K       &kp L      &td_pvirg   &td_paren
&kp LSHFT  &kp Z   &kp X  &td_c  &kp V     &kp B     &kp SPACE            &kp DOWN               &td_n      &kp M     &td_virg    &td_interr &td_barra   &td_arroba
                          &kp LALT  &td_lay1  &kp SPACE                                          &kp ENTER  &td_lay2  &kp LGUI
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        layer_1 {
            display-name = "F/Simbolos";
            bindings = <
&kp F1      &kp F2      &kp F3       &kp F4      &kp F5     &kp F6                         &trans                 &kp F7     &kp F8      &kp F9    &kp F10    &kp F11  &kp F12
&kp EXCL    &kp AT      &kp HASH     &kp DLLR    &kp PRCNT  &kp CARET             &trans   &trans     &trans      &td_menor  &td_colch   &kp HOME  &kp PG_UP  &none    &td_blue1
&kp AMPS    &kp ASTRK   &kp RA(SEMI) &none       &none      &none      &trans              &trans                 &td_chave  &none       &kp END   &kp PG_DN  &none    &td_blue2
                                     &kp LGUI    &td_lay1   &kp SPACE                                             &kp ENTER  &td_lay2    &kp RALT
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        layer_2 {
            display-name = "Numeros";
            bindings = <
&kp TAB     &kp LC(LS(C)) &kp AT        &kp HASH        &kp DLLR   &kp F2                        &trans               &td_mult   &kp N7     &kp N8  &kp N9  &td_paren  &kp BSPC
&kp LSHFT   &kp LC(LS(V)) &kp RA(SEMI)  &kp AMPS        &kp PRCNT  &kp ESC             &trans    &trans     &trans    &td_soma   &kp N4     &kp N5  &kp N6  &td_colch  &td_virg
&kp LCTRL   &td_chave     &td_interr    &kp UNDER       &kp CARET  &kp EQUAL &trans              &trans               &kp N0     &kp N1     &kp N2  &kp N3  &kp PRCNT  &kp EQUAL
                                        &kp LALT        &td_lay1   &kp SPACE                                          &kp ENTER  &td_lay2   &kp LGUI
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        layer_3 {
            display-name = "Mouse";
            bindings = <
&msc SCRL_UP    &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &mkp MB4   &mkp MCLK                    &mmv MOVE_UP                       &none   &none     &kp UP    &none      &td_mult  &kp BSPC
&msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB5   &none           &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &none   &kp LEFT  &kp DOWN  &kp RIGHT  &none     &kp LSHFT
&msc SCRL_LEFT  &msc SCRL_RIGHT &none           &msc SCRL_RIGHT  &none      &none     &kp C_MUTE             &mmv MOVE_DOWN                     &none   &none     &none     &none      &none     &kp LCTRL
                                                &none            &td_lay1   &none                                                               &none   &td_lay2  &kp LALT
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        layer_4 {
            display-name = "Sistema";
            bindings = <
&bt BT_CLR      &none   &trans  &trans  &trans    &bootloader                     &trans                    &bt BT_CLR      &trans    &trans  &none   &none   &bootloader
&bt BT_CLR_ALL  &trans  &trans  &trans  &trans    &sys_reset             &trans   &trans     &trans         &bt BT_CLR_ALL  &trans    &trans  &trans  &trans  &sys_reset
&trans          &trans  &trans  &trans  &trans    &out OUT_TOG  &trans            &trans                    &trans          &trans    &trans  &none   &none   &out OUT_TOG
                                        &trans    &td_lay1      &trans                                      &trans          &td_lay2  &trans
            >;
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
    };
};
